<br>
<div class="content">
<button ng-click="order='name'">Order by Name</button>
<button ng-click="order='id'">Order by id</button>
<input type="text" placeholder="Search here" ng-model="search" />
<ul>
  <li ng-repeat="s in students | orderBy : order | filter:search">
      <img ng-src="{{s.thumb}}" style="margin: -12px 10px 0 0; float: left; width: 50px;"
      ng-show="s.thumb"/>
      <h3>{{s.name | uppercase}}</h3>
      <div class="remove" style="background:yellow" ng-click="removeStudent(s)">X</div>
      <span class="belt" style="background:green">{{s.id}}</span>
  </li>
</ul>
<form ng-submit="addStudent()">
    <input type="text" placeholder="Name" ng-model="newStudent.name">
    <input type="text" placeholder="ID" ng-model="newStudent.id">
    <input type="submit" value="Add Student">
</form>
</div>
